﻿<div id="issueReport" title="@BFI.Resources.Layout.ReportAnIssue">
    <strong>@BFI.Resources.Layout.WhatsWrong</strong>
    <textarea id="issueDescription"></textarea>
    <div class="ui-dialog-buttonset">
        <button type="button" class="ui-button ui-corner-all ui-widget" onclick="submitIssue($('#issueReport'),$('#issueDescription'))">@BFI.Resources.Layout.Submit</button>
        <button type="button" class="ui-button ui-corner-all ui-widget" onclick="cancelIssue($('#issueReport'),$('#issueDescription'))">@BFI.Resources.Layout.Cancel</button>
    </div>
</div>