﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/site.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
    <script>
        var apiUrl = '@ViewData["webAppUri"]';
        var regionUri = '@ViewData["regionUri"]';
        var attachmentUri = '@ViewData["attachmentUri"]';
    </script>
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
    <script>
        $body = $("body");
        $(document).on({
            ajaxStart: function () {
                $body.addClass("loading");
            },
            ajaxStop: function () {
                $body.removeClass("loading");
            }
        });
    </script>
    <div class="modal"><!-- Place at bottom of page --></div>
</body>
</html>
