﻿
@{
    ViewData["Title"] = "Region Content";
    Layout = "~/Views/Shared/_RegionLayout.cshtml";
    
}
@section Styles{
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}

<div id="map"></div>

@Html.Partial("_IssueReportDialog")

@section Scripts{
    <script>
        var regionUri = '@ViewData["regionUri"]';
    </script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/globalMapMethods.js"></script>
    <script src="~/js/Region.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewData["googleMapsApiKey"]&callback=initMap" async defer></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}