﻿@model BFI.WebAdmin.Models.CreateLocationViewModel
<h1>Create a New Location</h1>
<form asp-controller="Locations" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Location.Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.Name" class="form-control" />
            <span asp-validation-for="Location.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.Type" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select class="form-control" asp-for="@Model.Location.Type" asp-items="Html.GetEnumSelectList(typeof(BFI.Entities.LocationType))"></select>
            <span asp-validation-for="Location.Type" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.Address" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.Address" class="form-control" />
            <span asp-validation-for="Location.Address" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.City" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.City" class="form-control" />
            <span asp-validation-for="Location.City" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.StateProvince" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.StateProvince" class="form-control" />
            <span asp-validation-for="Location.StateProvince" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.PostCode" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.PostCode" class="form-control" />
            <span asp-validation-for="Location.PostCode" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.Country" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select class="form-control" asp-for="@Model.Location.CountryId" asp-items="Model.AllCountries"></select>
            <span asp-validation-for="Location.CountryId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.Excerpt" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.Excerpt" class="form-control" />
            <span asp-validation-for="Location.Excerpt" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.Description" class="form-control" />
            <span asp-validation-for="Location.Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.Latitude" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.Latitude" class="form-control" readonly />
            <span asp-validation-for="Location.Latitude" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.Longitude" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.Longitude" class="form-control" readonly />
            <span asp-validation-for="Location.Longitude" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Location.PinUri" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.PinUri" class="form-control" />
            <span asp-validation-for="Location.PinUri" class="text-danger"></span>
        </div>
    </div>
    <input type="submit" class="btn btn-success" value="Create" />
</form>

<div id="map" style="width:100%;height:640px;"></div>

<a asp-area="" asp-controller="Locations" asp-action="Index" title="Locations" class="btn btn-primary">Back</a>
@section Scripts{
    <script>
        var map;
        var marker;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: new google.maps.LatLng(44, -110),
            });

            google.maps.event.addListener(map, 'click', function (event) {
                $("#Location_Latitude").val(event.latLng.lat());
                $("#Location_Longitude").val(event.latLng.lng());
                placeMarker(event.latLng);
            });

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function placeMarker(location) {
            if (marker) {
                marker.setPosition(location);
            } else {
                marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewData["googleMapsApiKey"]&callback=initMap" async defer></script>
}