﻿@model BFI.WebAdmin.Models.EditLocationViewModel
<h1>Edit Location</h1>
<form asp-controller="Locations" asp-action="Update" method="post" asp-route-id="@Model.Location.Id">
    <div class="form-group">
        <label asp-for="Location.Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.Name" class="form-control" />
            <span asp-validation-for="Location.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.Type" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select class="form-control" asp-for="@Model.Location.Type" asp-items="Html.GetEnumSelectList(typeof(BFI.Entities.LocationType))"></select>
            <span asp-validation-for="Location.Type" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.Address" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.Address" class="form-control" />
            <span asp-validation-for="Location.Address" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.City" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.City" class="form-control" />
            <span asp-validation-for="Location.City" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.StateProvince" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.StateProvince" class="form-control" />
            <span asp-validation-for="Location.StateProvince" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.PostCode" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.PostCode" class="form-control" />
            <span asp-validation-for="Location.PostCode" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.Country" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select class="form-control" asp-for="@Model.Location.CountryId" asp-items="Model.AllCountries"></select>
            <span asp-validation-for="Location.CountryId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.Excerpt" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.Excerpt" class="form-control" />
            <span asp-validation-for="Location.Excerpt" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.Description" class="form-control" />
            <span asp-validation-for="Location.Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.Latitude" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.Latitude" asp-format="{0:N14}" class="form-control" readonly />
            <span asp-validation-for="Location.Latitude" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location.Longitude" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.Longitude" asp-format="{0:N14}" class="form-control" readonly />
            <span asp-validation-for="Location.Longitude" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Location.PinUri" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Location.PinUri" class="form-control" />
            <span asp-validation-for="Location.PinUri" class="text-danger"></span>
        </div>
    </div>

    <input type="submit" class="btn btn-success" value="Update" />
    <a asp-area="" asp-controller="Locations" asp-action="Index" title="Locations" class="btn btn-primary">Back</a>
    <a asp-area="" asp-controller="Locations" asp-action="View" title="View" class="btn btn-info" asp-route-id="@Model.Location.Id">View</a>
</form>

<h2>Move around the location</h2>
<div id="map" style="width:100%;height:320px;"></div>

<h2>Attachments</h2>
<form method="post" enctype="multipart/form-data" asp-controller="Locations" asp-route-id="@Model.Location.Id" asp-action="CreateAttachment">
    <div class="form-group">
        <label class="col-md-2 control-label">Upload File</label>
        <div class="col-md-10">
            <input type="file" name="file" multiple class="form-control" required />
        </div>

    </div>
    <br />
    <div class="form-group">
        <label class="col-md-2 control-label">Description</label>
        <div class="col-md-10">
            <input name="Description" class="form-control" required />
        </div>
    </div>
    <div class="col-md-10">
        <input type="submit" value="Upload" />
    </div>
</form>

<table class="table table-striped table-bordered">
    <tr>
        <td>Name</td>
        <td>Type</td>
        <td>Description</td>
        @*<td>Uri</td>*@
        <td></td>
    </tr>
    @if(Model.Location != null && Model.Location.Attachments != null) {
        foreach(var item in Model.Location?.Attachments) {
    <tr>
        <td>@item.Name</td>
        <td>@item.Type.GetDisplayName()</td>
        <td>@item.Description</td>
        @*<td>@item.Uri</td>*@
        <td>
            @if(User.HasPermission(PermissionNames.LocationsDelete)) {
                <form style="display:inline-block" asp-controller="Locations" asp-action="DeleteAttachment" asp-route-id="@item.LocationId" asp-route-attachmentId="@item.Id" method="post">
                    <input type="submit" value="Remove" class="btn btn-danger delete" />
                </form>
            }
        </td>
    </tr>
        }
    }
</table>

@Html.Partial("_DeleteConfirmation")

@section Scripts{
    <script>
    var map;
    var marker;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: new google.maps.LatLng(@Model.Location.Latitude, @Model.Location.Longitude),
        });
        marker = new google.maps.Marker({
            position: map.center,
            map: map
        });

        google.maps.event.addListener(map, 'click', function (event) {
            $("#Location_Latitude").val(event.latLng.lat());
            $("#Location_Longitude").val(event.latLng.lng());
            placeMarker(event.latLng);
        });
    }

    function placeMarker(location) {
        marker.setPosition(location);
    }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewData["googleMapsApiKey"]&callback=initMap" async defer></script>
}
