﻿@model BFI.WebAdmin.Models.LocationsViewModel
<h1>All Locations</h1>
<table class="table table-striped table-bordered">
    <tr>
        <td>Name</td>
        <td>Type</td>
        <td>Address</td>
        <td>City</td>
        <td>State / Province</td>
        <td>Post Code</td>
        <td>
            @if (User.HasPermission(PermissionNames.LocationsCreate)) {
                <a asp-area="" asp-controller="Locations" asp-action="Create" class="btn btn-success">Create</a>
            }
        </td>
    </tr>
    @foreach (var loc in Model.Locations) {
    <tr>
        <td>@loc.Name</td>
        <td>@loc.Type.GetDisplayName()</td>
        <td>@loc.Address</td>
        <td>@loc.City</td>
        <td>@loc.StateProvince</td>
        <td>@loc.PostCode</td>
        <td>
            @if (User.HasPermission(PermissionNames.LocationsView)) {
                <a asp-area="" asp-controller="Locations" asp-action="View" asp-route-id="@loc.Id" class="btn btn-info">View</a>
            }
            @if (User.HasPermission(PermissionNames.LocationsUpdate)) {
                <a asp-area="" asp-controller="Locations" asp-action="Edit" asp-route-id="@loc.Id" class="btn btn-primary">Edit</a>
            }
            @if (User.HasPermission(PermissionNames.LocationsDelete)) {
            <form style="display:inline-block" asp-controller="Locations" asp-action="Delete" asp-route-id="@loc.Id" method="post">
                <input type="button" value="Remove" class="btn btn-danger delete" />
            </form>
            }
        </td>
    </tr>
    }
</table>

@Html.Partial("_DeleteConfirmation")
