﻿@model BFI.WebAdmin.Models.LocationViewModel
<h1>View Location</h1>

<a asp-area="" asp-controller="Locations" asp-action="Edit" asp-route-id="@Model.Location.Id" title="Edit" class="btn btn-success">Edit</a>
<a asp-area="" asp-controller="Locations" asp-action="Index" title="Locations" class="btn btn-primary">Back</a>

<div id="map" style="width:100%;height:640px;"></div>

@section Scripts{

    <script>
    var map;
    var marker;
    var infoWindow;
    var contentString = `@Html.Partial("_GoogleMapsInfoWIndow", Model)`;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: new google.maps.LatLng(@Model.Location.Latitude, @Model.Location.Longitude),
        });

        marker = new google.maps.Marker({
            position: map.center,
            map: map
        });

        infoWindow = new google.maps.InfoWindow({ content: contentString });

        infoWindow.open(map, marker);
    }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewData["googleMapsApiKey"]&callback=initMap" async defer></script>
}