﻿@model BFI.WebAdmin.Models.RolesViewModel
<h1>All Roles</h1>
<table class="table table-striped table-bordered">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td></td>
    </tr>
    @foreach (var role in Model.Roles) {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td><a asp-area="" asp-controller="Roles" asp-action="View" asp-route-id="@role.Id" class="btn btn-primary">View</a></td>
        </tr>
    }
</table>