﻿@model BFI.WebAdmin.Models.RoleViewModel
<h1>View Role</h1>

<table class="table table-striped table-bordered">
    <tr>
        <td>Id</td><td>@Model.Role.Id</td>
    </tr>
    <tr>
        <td>Name</td><td>@Model.Role.Name</td>
    </tr>
</table>

<strong>Users in Role</strong>
<table class="table table-striped table-bordered">
    <tr>
        <td>Id</td>
        <td>UserName</td>
        <td>Email</td>
    </tr>
    @foreach (var user in Model.UsersInRole) {
    <tr>
        <td>@user.Id</td>
        <td>@user.UserName</td>
        <td>@user.Email</td>
    </tr>
    }
</table>
<a asp-area="" asp-controller="Roles" asp-action="Index" title="Roles" class="btn btn-primary">Back</a> 