﻿@model BFI.WebAdmin.Models.CreateCompanyViewModel
<h1>Create Company</h1>
<form asp-controller="Companies" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Company.Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Company.Name" class="form-control" />
            <span asp-validation-for="Company.Name" class="text-danger"></span>
        </div>
    </div>

    <input type="submit" class="btn btn-success" value="Create" />
</form>

<a asp-area="" asp-controller="Companies" asp-action="Index" title="Companies" class="btn btn-primary">Back</a>
