﻿@model BFI.WebAdmin.Models.EditCompanyViewModel
<h1>Edit Company</h1>
<form asp-controller="Companies" asp-action="Update" method="post" asp-route-id="@Model.Company.Id">
    <table class="table table-striped table-bordered">
        <tr>
            <td>Company Id</td>
            <td>@Model.Company.Id</td>
        </tr>
    </table>
    <div class="form-group">
        <label asp-for="Company.Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Company.Name" class="form-control" />
            <span asp-validation-for="Company.Name" class="text-danger"></span>
        </div>
    </div>
    <input type="submit" class="btn btn-success" value="Save" />
</form>

<a asp-area="" asp-controller="Companies" asp-action="Index" title="Companies" class="btn btn-primary">Back</a>
