﻿@model BFI.WebAdmin.Models.CompaniesViewModel
<h1>Companies</h1>
<table class="table table-striped table-bordered">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>
            @if (User.HasPermission(PermissionNames.CompaniesCreate)) {
            <a asp-area="" asp-controller="Companies" asp-action="Create" class="btn btn-success">Create</a>
            }
        </td>
    </tr>
    @foreach (var comp in Model.Companies) {
    <tr>
        <td>@comp.Id</td>
        <td>@comp.Name</td>
        <td>
            @if (User.HasPermission(PermissionNames.CompaniesView)) {
            <a asp-area="" asp-controller="Companies" asp-action="View" asp-route-id="@comp.Id" class="btn btn-info">View</a>
            }
            @if (User.HasPermission(PermissionNames.CompaniesUpdate)) {
            <a asp-area="" asp-controller="Companies" asp-action="Edit" asp-route-id="@comp.Id" class="btn btn-primary">Edit</a>
            }
            @if (User.HasPermission(PermissionNames.CompaniesDelete)) {
            <form style="display:inline-block" asp-controller="Companies" asp-action="Delete" asp-route-id="@comp.Id" method="post">
                <input type="submit" value="Remove" class="btn btn-danger" />
            </form>
            }
        </td>
    </tr>
    }
</table>