﻿@model BFI.WebAdmin.Models.CompanyViewModel
<h1>View Company</h1>

<table class="table table-striped table-bordered">
    <tr>
        <td>Company Id</td>
        <td>@Model.Company.Id</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.Company.Name</td>
    </tr>
</table>

@if (Model.Users != null && Model.Users.Count > 0) {
<strong>Company Users</strong>
<table class="table table-striped table-bordered">
    <tr>
        <td>Id</td>
        <td>UserName</td>
        <td>Email</td>
        <td></td>
    </tr>
    @foreach (var user in Model.Users) {
    <tr>
        <td>@user.Id</td>
        <td>@user.UserName</td>
        <td>@user.Email</td>
        <td>
            <form asp-controller="Company" asp-action="RemoveUser" asp-route-id="@Model.Company.Id" method="post">
                <input type="hidden" name="userId" value="@user.Id" />
                <input type="submit" value="Remove" class="btn btn-warning" />
            </form>
        </td>
    </tr>
    }
</table>
}

<a asp-area="" asp-controller="Companies" asp-action="Index" title="Companies" class="btn btn-primary">Back</a> 