﻿@model BFI.WebAdmin.Models.UsersViewModel
<h1>All Users</h1>
<table class="table table-striped table-bordered">
    <tr>
        <td>Id</td>
        <td>Email</td>
        <td>UserName</td>
        <td></td>
    </tr>
    @foreach (var user in Model.Users) {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
            <td>@user.UserName</td>
            <td><a asp-area="" asp-controller="Users" asp-action="View" asp-route-id="@user.Id" class="btn btn-primary">View</a></td>
        </tr>
    }
</table>