﻿@model BFI.WebAdmin.Models.UserViewModel
<h1>View User</h1>

<table class="table table-striped table-bordered">
    <tr>
        <td>User Id</td>
        <td>@Model.User.Id</td>
    </tr>
    <tr>
        <td>UserName</td>
        <td>@Model.User.UserName</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.User.Email</td>
    </tr>
</table>

<strong>Roles for User</strong>
<table class="table table-striped table-bordered">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td></td>
    </tr>
    @foreach(var role in Model.UsersRoles) {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td>
                <form asp-controller="Users" asp-action="RemoveRole" asp-route-id="@Model.User.Id" method="post">
                    <input type="hidden" name="roleId" value="@role.Id" />
                    <input type="submit" value="Remove" class="btn btn-warning" />
                </form>
            </td>
        </tr>
    }
</table>

<strong>Add user to role</strong>
<form asp-controller="Users" asp-action="AddToRole" asp-route-id="@Model.User.Id" method="post">
    <select asp-for="SelectedRoleId" asp-items="@(new SelectList(Model.AllRoles,"Id","Name"))"><option>Please select one</option></select>
    <input type="submit" class="btn btn-success" value="Add Role" />
</form>

<strong>Company</strong>
<table class="table table-striped table-bordered">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td></td>
    </tr>
    @foreach(var company in Model.UsersCompanies) {
        <tr>
            <td>@company.Id</td>
            <td>@company.Name</td>
            <td>
                <form asp-controller="Users" asp-action="RemoveCompany" asp-route-id="@Model.User.Id" method="post">
                    <input type="hidden" name="companyId" value="@company.Id" />
                    <input type="submit" value="Remove" class="btn btn-warning" />
                </form>
            </td>
        </tr>
    }
</table>

<strong>Add user to company</strong>
<form asp-controller="Users" asp-action="AddToCompany" asp-route-id="@Model.User.Id" method="post">
    <select asp-for="SelectedCompanyId" asp-items="@(new SelectList(Model.AllCompanies,"Id","Name"))"><option>Please select one</option></select>
    <input type="submit" class="btn btn-success" value="Add to Company" />
</form>
<a asp-area="" asp-controller="Users" asp-action="Index" title="Users" class="btn btn-primary">Back</a> 