﻿@model BFI.WebAdmin.Models.LocationViewModel
<div id="infoWindow">
    <h1>@Model.Location.Name</h1>
    <h2>@Model.Location.Excerpt</h2>
    <p>@Model.Location.Description</p>

    @if (Model.Location.Attachments.Count > 0) {
        <h4>Attachments</h4>

        var images = Model.Location.Attachments.Where(f => f.Type == BFI.Entities.AttachmentType.Image);
        if (images.Count() > 0) {
            <h3>Images</h3>
            @foreach (var item in images) {
                <img src="@string.Format("{0}/{1}_{2}",Model.AttachmentUri, item.Id,item.Name)" alt="@item.Description" style="max-height:250px;max-width:250px;" /><br />
            }
        }

        var documents = Model.Location.Attachments.Where(f => f.Type != BFI.Entities.AttachmentType.Image);
        if (documents.Count() > 0) {
            <h3>Documents</h3>
            @foreach (var item in documents) {
                <a href="@string.Format("{0}/{1}_{2}",Model.AttachmentUri, item.Id,item.Name)">@item.Name</a> @item.Description<br />
            }
        }
    }

    <table class="table table-striped table-bordered">
        <tr>
            <td>Name</td>
            <td>@Model.Location.Name</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>@Model.Location.Type.GetDisplayName()</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@Model.Location.Address</td>
        </tr>
        <tr>
            <td>City</td>
            <td>@Model.Location.City</td>
        </tr>
        <tr>
            <td>State / Province</td>
            <td>@Model.Location.StateProvince</td>
        </tr>
        <tr>
            <td>Post Code</td>
            <td>@Model.Location.PostCode</td>
        </tr>
    </table>
</div>