﻿@model BFI.WebAdmin.Models.CreateRegionViewModel
<h1>Create a New Region</h1>
<form asp-controller="Regions" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Region.Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Region.Name" class="form-control" />
            <span asp-validation-for="Region.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Region.Type" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select class="form-control" asp-for="@Model.Region.Type" asp-items="Html.GetEnumSelectList(typeof(BFI.Entities.RegionType))"></select>
            <span asp-validation-for="Region.Type" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Region.InitialZoom" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="number" asp-for="@Model.Region.InitialZoom" required class="form-control" />
            <span asp-validation-for="Region.Type" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Region.Uri" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="text" asp-for="@Model.Region.Uri" required class="form-control" />
            <span asp-validation-for="Region.Uri" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Region.CenterLatitude" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Region.CenterLatitude" class="form-control" readonly />
            <span asp-validation-for="Region.CenterLatitude" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Region.CenterLongitude" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Region.CenterLongitude" class="form-control" readonly />
            <span asp-validation-for="Region.CenterLongitude" class="text-danger"></span>
        </div>
    </div>

    <input type="submit" class="btn btn-success" value="Create" />
</form>

<div id="map" style="width:100%;height:640px;"></div>

<a asp-area="" asp-controller="Regions" asp-action="Index" title="Regions" class="btn btn-primary">Back</a>
@section Scripts{
    <script>
        var map;
        var marker;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: @Model.Region.InitialZoom,
                center: new google.maps.LatLng(44, -110),
            });

            google.maps.event.addListener(map, 'click', function (event) {
                $("#Region_CenterLatitude").val(event.latLng.lat());
                $("#Region_CenterLongitude").val(event.latLng.lng());
            });

            google.maps.event.addListener(map, 'zoom_changed', function (event) {
                $("#Region_InitialZoom").val(map.zoom);

            });

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    $("#Region_CenterLatitude").val(position.coords.latitude);
                    $("#Region_CenterLongitude").val(position.coords.longitude);

                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewData["googleMapsApiKey"]&callback=initMap" async defer></script>
}