﻿@model BFI.WebAdmin.Models.EditRegionViewModel
<h1>Edit Region</h1>
<form asp-controller="Regions" asp-action="Update" method="post" asp-route-id="@Model.Region.Id">
    <div class="form-group">
        <label asp-for="Region.Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Region.Name" class="form-control" />
            <span asp-validation-for="Region.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Region.Type" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select class="form-control" asp-for="@Model.Region.Type" asp-items="Html.GetEnumSelectList(typeof(BFI.Entities.RegionType))"></select>
            <span asp-validation-for="Region.Type" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Region.InitialZoom" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="number" asp-for="@Model.Region.InitialZoom" required class="form-control" />
            <span asp-validation-for="Region.Type" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Region.Uri" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="text" asp-for="@Model.Region.Uri" required class="form-control" />
            <span asp-validation-for="Region.Uri" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Region.CenterLatitude" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Region.CenterLatitude" asp-format="{0:N14}" class="form-control" readonly />
            <span asp-validation-for="Region.CenterLatitude" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Region.CenterLongitude" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Region.CenterLongitude" asp-format="{0:N14}" class="form-control" readonly />
            <span asp-validation-for="Region.CenterLongitude" class="text-danger"></span>
        </div>
    </div>

    <input type="submit" class="btn btn-success" value="Update" />
    <a asp-area="" asp-controller="Regions" asp-action="Index" title="Regions" class="btn btn-primary">Back</a>
    <a asp-area="" asp-controller="Regions" asp-action="View" title="View" class="btn btn-info" asp-route-id="@Model.Region.Id">View</a>
</form>

<h2>Move around the region center</h2>
<div id="map" style="width:100%;height:320px;"></div>

<h3>Region Locations</h3>
<table class="table table-striped table-bordered">
    <tr>
        <td>Name</td>
        <td>Type</td>
        <td>Address</td>
        <td>City</td>
        <td>State / Province</td>
        <td>Post Code</td>
        <td></td>
    </tr>
    @foreach(var loc in Model.Region.RegionLocations) {
        <tr>
            <td>@loc.Location.Name</td>
            <td>@loc.Location.Type.GetDisplayName()</td>
            <td>@loc.Location.Address</td>
            <td>@loc.Location.City</td>
            <td>@loc.Location.StateProvince</td>
            <td>@loc.Location.PostCode</td>
            <td>
                <form style="display:inline-block" asp-controller="Regions" asp-action="RemoveLocation" asp-route-id="@loc.RegionId" asp-route-locationId="@loc.LocationId" method="post">
                    <input type="submit" value="Remove" class="btn btn-danger delete" />
                </form>
            </td>
        </tr>
    }
</table>

<form style="display:inline-block" asp-controller="Regions" asp-action="AddLocation" asp-route-id="@Model.Region.Id" method="post">
    <select class="form-control" asp-for="@Model.SelectedLocationId" asp-items="Model.MyLocations" required></select>
    <input type="submit" class="btn btn-info" value="Add" />
</form>
@Html.Partial("_DeleteConfirmation")

@section Scripts{
    <script>
    var map;
    var marker;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: @Model.Region.InitialZoom,
            center: new google.maps.LatLng(@Model.Region.CenterLatitude, @Model.Region.CenterLongitude),
        });

        google.maps.event.addListener(map, 'click', function (event) {
            $("#Region_CenterLatitude").val(event.latLng.lat());
            $("#Region_CenterLongitude").val(event.latLng.lng());
        });

        var infoWindow = new google.maps.InfoWindow();

        @foreach (var location in Model.LocationViewModels) {
            @:var marker_@location.Location.Id = new google.maps.Marker({ position: { lat:@location.Location.Latitude, lng: @location.Location.Longitude }, map: map, content: `@Html.Partial("_GoogleMapsInfoWIndow", location)` } );
            @:marker_@(location.Location.Id).addListener('click', function () {
                @:infoWindow.setContent(marker_@(location.Location.Id).content);
                @:infoWindow.open(map, marker_@(location.Location.Id));
            @:});


        }

        google.maps.event.addListener(map, 'zoom_changed', function (event) {
            $("#Region_InitialZoom").val(map.zoom);

        });
    }

    function placeMarker(location) {
        marker.setPosition(location);
    }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewData["googleMapsApiKey"]&callback=initMap" async defer></script>
}
