﻿@model BFI.WebAdmin.Models.RegionsViewModel
<h1>All Regions</h1>
<table class="table table-striped table-bordered">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Type</td>
        <td>
            @if(User.HasPermission(PermissionNames.RegionsCreate)) {
                <a asp-area="" asp-controller="Regions" asp-action="Create" class="btn btn-success">Create</a>
            }
            
        </td>
    </tr>
    @foreach (var reg in Model.Regions) {
    <tr>
        <td>@reg.Id</td>
        <td>@reg.Name</td>
        <td>@reg.Type</td>
        <td>
            @if(User.HasPermission(PermissionNames.RegionsView)) {
            <a asp-area="" asp-controller="Regions" asp-action="View" asp-route-id="@reg.Id" class="btn btn-info">View</a>
            }
            @if(User.HasPermission(PermissionNames.RegionsUpdate)) {
                <a asp-area="" asp-controller="Regions" asp-action="Edit" asp-route-id="@reg.Id" class="btn btn-primary">Edit</a>
            }
            @if(User.HasPermission(PermissionNames.RegionsDelete)) {
                <form style="display:inline-block" asp-controller="Regions" asp-action="Delete" asp-route-id="@reg.Id" method="post">
                    <input type="button" value="Remove" class="btn btn-danger delete" />
                </form>
            }
        </td>
    </tr>
    }
</table>