﻿@model BFI.WebAdmin.Models.RegionViewModel
<h1>View Region</h1>

<a asp-area="" asp-controller="Regions" asp-action="Edit" asp-route-id="@Model.Region.Id" title="Edit" class="btn btn-success">Edit</a>
<a asp-area="" asp-controller="Regions" asp-action="Index" title="Regions" class="btn btn-primary">Back</a>

<div id="map" style="width:100%;height:640px;"></div>

@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewData["googleMapsApiKey"]&callback=initMap" async defer></script>
    <script>

var map;
var markers = [];

function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: @Model.Region.InitialZoom,
        center: new google.maps.LatLng(@Model.Region.CenterLatitude, @Model.Region.CenterLongitude)
    });

    var infoWindow = new google.maps.InfoWindow();

    @foreach (var location in Model.LocationViewModels) {
        @:var marker_@location.Location.Id = new google.maps.Marker({ position: { lat:@location.Location.Latitude, lng: @location.Location.Longitude }, map: map, content: `@Html.Partial("_GoogleMapsInfoWIndow", location)` } );
        @:marker_@(location.Location.Id).addListener('click', function () {
            @:infoWindow.setContent(marker_@(location.Location.Id).content);
            @:infoWindow.open(map, marker_@(location.Location.Id));
        @:});


    }
    }
    </script>


}