﻿@using Microsoft.AspNetCore.Authentication;
@{
    ViewData["Title"] = "Secure";
}
<h2>@ViewData["Title"]</h2>

<h3>User claims</h3>

<dl>
    @foreach (var claim in User.Claims) {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>

    }
</dl>